g-az-lab/pipeline/ppl_Wether.json
{
	"name": "ppl_Wether",
	"properties": {
		"activities": [
			{
				"name": "act_gmt_Zones",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dlt_Zones",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "act_Lookup_Rows",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "act_gmt_Zones",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dlt_Zones",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_ForEach_Zones",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_Lookup_Rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_Lookup_Rows').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_Set_Var_Each_Row",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "row",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_Run_API",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "act_Set_Var_Each_Row",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "api.openweathermap.org/data/2.5/box/city?bbox=@item().lon_left,@item().lat_bottom,@item().lon_right,@item().lat_top,100&appid=@item()",
									"type": "Expression"
								},
								"method": "GET"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file_name": {
				"type": "string"
			}
		},
		"variables": {
			"row": {
				"type": "String"
			}
		},
		"annotations": []
	}
}